---
name: cpp17-buildmatrix

# Controls when the workflow will run
on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        root:
          - "rootproject/root:latest"
          - "rootproject/root:6.26.06-ubuntu22.04"
          - "rootproject/root:6.30.02-alma9"
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.root }}

    steps:
      - uses: actions/checkout@v6

      - name: install libblas
        if: ${{ matrix.root == 'rootproject/root:latest' || matrix.root == 'rootproject/root:6.26.06-ubuntu22.04' }}
        run: apt-get install -y libblas-dev

      - name: vbf
        run: |
          curl -L https://syncandshare.desy.de/index.php/s/${{ secrets.VBFcpp17 }}/download -o VBF.tar.gz
          mkdir VBF && tar -xzf VBF.tar.gz -C VBF --strip-components=1
          cd VBF && ./configure --prefix=$(echo $GITHUB_WORKSPACE)/VBF
          make
          make install

      - name: sofa
        run: |
          curl -L https://syncandshare.desy.de/index.php/s/${{ secrets.SOFA20231011 }}/download -o sofa/sofa.tar.gz
          ./install_sofa.sh

      - name: eventdisplay
        run: |
          root-config --version
          export EVNDISPSYS=$(echo $GITHUB_WORKSPACE)
          export VBFSYS=$(echo $GITHUB_WORKSPACE)/VBF
          export LD_LIBRARY_PATH="${EVNDISPSYS}/obj:${EVNDISPSYS}/lib:${LD_LIBRARY_PATH}"
          export LD_LIBRARY_PATH="${VBFSYS}/lib:${LD_LIBRARY_PATH}"
          export SOFASYS=/sofa
          make -j 4 VTS
